{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Notre Ecole</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi consectetur corporis cumque,
                    ex expedita, facere fuga iusto minus molestias necessitatibus officia reiciendis sapiente sit tempore.
                    Consequatur, necessitatibus nulla! Amet aperiam commodi distinctio ea inventore magni nihil quam
                    recusandae, repudiandae rerum. Culpa cum dolorem dolores harum itaque molestiae nobis, possimus totam!
                    Ab aliquam, animi aspernatur aut blanditiis consectetur cum doloremque error inventore ipsam minima
                    natus nemo non numquam odio possimus quasi quia quibusdam reprehenderit temporibus! Ab accusantium
                    aliquid amet aspernatur aut consequatur consequuntur corporis delectus dignissimos eaque eius enim esse
                    est explicabo hic ipsam itaque iure labore laudantium molestiae molestias nam nesciunt non numquam
                    placeat praesentium quam quos ratione reiciendis repellat sequi sint sunt temporibus vel velit, veniam
                    voluptatibus. </p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="{{ asset('img/DSC01763.JPG') }}" alt="">
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <h2>Nos Actions</h2>

        <div class="row">
            {% for action in actions %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ asset("images/" ~ action.imageName) }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('post', {id:action.id}) }}">{{ action.title }}</a>
                            </h4>
                            <p class="card-text">{{ action.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->


        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
            </div>
        </div>

    </div>

    <!-- /.container -->
{% endblock %}