{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                {% for IntroductionSchool in intro %}

                <h2>{{ IntroductionSchool.title }}</h2>
                <p>{{ IntroductionSchool.content |raw }}


            </div>
            <div class="col-lg-6">
                <img class="card-img-top"
                     src="{{ asset("images_action/" ~ IntroductionSchool.imageName) }}"
                     alt="{{ IntroductionSchool.title }}">
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <h2>Nos Actions</h2>

        <div class="row">
            {% for action in actions %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="{{ path('action_post', {id:action.id}) }}"><img class="card-img-top"
                                                                                 src="{{ asset("images_action/" ~ action.imageName) }}"
                                                                                 alt="{{ action.title }}"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ path('action_post', {id:action.id}) }}">{{ action.title }}</a>
                            </h4>
                            <p class="card-text">{{ action.contentStrip | truncate(250, true) | raw }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="pagination">
            {{ knp_pagination_render(actions) }}
        </div>


        <!-- /.row -->


        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad consequuntur deserunt dolore, doloremque
                dolores dolorum, et fuga illo iste mollitia sequi! Accusamus, blanditiis deserunt dolores itaque natus
                nobis officiis quisquam ut! Deleniti eius fuga iste mollitia temporibus. Asperiores corporis cumque
                dicta eligendi explicabo harum ipsam natus nemo quo ullam!
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="{{ path('donationpage') }}">Devenir parrain</a>
            </div>
        </div>

    </div>

    <!-- /.container -->
{% endblock %}