{% extends 'Admin/layout.html.twig' %}

{% block body %}

    <div class="container my-5">
        <div class="card-body text-center">
            <a href="{{ path('homepage') }}"><h4 class="card-title">revenir à la page d'accueil</h4></a>
            <a href="{{ path('admin') }}"><h4 class="card-title">Revenir à la page d'administration</h4></a>

        </div>
        <div class="card">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Titre</th>

                    <th scope="col">nom de l'image</th>
                    <th scope="col">Edit List</th>

                </tr>
                </thead>
                <tbody>
                {% for IntroductionSchool in Introduction %}
                <tr>
                    <th scope="row"> {{ IntroductionSchool.title }}</th>

                    <td><img class="card-img-top" src="{{ asset("images_action/" ~ IntroductionSchool.imageName) }}"
                             style="width: 12%;"></td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{{ path('admin_introduction_edit', {id:IntroductionSchool.id}) }}"><i
                                    class="far fa-edit"></i> edit</a>
                        <form method="post" action="{{ path('admin_introduction_delete',{id:IntroductionSchool.id}) }}" style="display: inline-block">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger">supprimer l'élément</button>
                        </form>
                    </td>


                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('admin_introduction_add') }}" class="btn btn-primary">Nouvelle Présentation</a>

    </div>

{% endblock %}























